html, body{
  width:100%;
  height:100%;
  backround-color: #222;
}

.content{
  width:100%;
  heihgt:100%;
}

/* stage -- start*/
.stage{
  position:relative;
  width:100%;
  height:680px;
}
/* stage -- end*/

/* image -- start*/
.img-sec{
  position: relative;
  width:100%;
  height:100%;
  overflow: hidden;
  background-color:#ddd;
  perspective:1800px;
  @at-root{
    .img-figure{
      position: absolute;
      width:320px;
      height:auto;
      margin:0;
      padding: 40px;
      box-sizing:border-box;
      background:#fff;
      transform-style: preserve-3d;
      transform-origin: 0 50% 0;
      cursor: pointer;
      transition: left .6s ease-in-out, top .6s ease-in-out, transform .6s ease-in-out;
      img{
        width:240px;
        height:auto;
      }
      &.is-inverse {
        transform: translate(320px) rotateY(180deg);
      }
    }
    figcaption{
      text-align:center;
      .img-title{
        margin: 20px 0 0 0;
        font-size:16px;
        color:#a7a0a2;
      }
      .img-back{
        position: absolute;
        left: 0;
        top: 0;
        width:100%;
        height:100%;
        padding:50px 40px;
        overflow:auto;
        color: #666;
        background: #fff;
        transform: rotateY(180deg) translateZ(1px);
        box-sizing: border-box;
        backface-visibility:hidden;
      }
    }
  }
}
/* image -- end*/

/*controller --start*/
.controller-nav{
  position: absolute;
  left:0;
  bottom:30px;
  width:100%;
  text-align:center;
  z-index: 101;
}
/*controller --end*/